@import url('https://fonts.googleapis.com/css2?family=Anta&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
}


:root {
    --primary-color: rgb(48,51,107);
    --secondary-colr: rgb(177,46,221);
    --modal-duration: 1s;
}

body {
    font-family: "Lato", sans-serif;
    margin: 0;
}


nav {
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    border-right: 2px solid rgba(200,200,200,.1);
}

.modal {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.modal-header {
    
}
