@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



body {
    background-color: darkgoldenrod;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.btn {
    background-color: darkblue;
    font-size: 1.2rem;
    padding: 1.5rem 3rem;
    margin: 1rem;
    border-radius: 5px;
    border: none;
    color: darkgoldenrod;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}

.btn:hover {
    opacity: 0.9;
}



.website {
    position: fixed;
    background-color: #111;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
}

.website .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    transition: all 0.3s ease-in-out;
}

.website ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.website a {
    color: white;
    text-decoration: none;
    padding: 7px 15px;
    transition: all 0.3s ease-in-out;
}

.website.active {
    background-color: white;
    box-shadow: 0 2px 10 rgba(0,0,0,.3);
    transition: all 0.3s ease-in-out;
}

.website.active a {
    color: black;
}

.website.active .container {
    padding: 10px 0;
}

.website a.current,
.website a:hover {
    color: rgb(192,57,43);
    font-weight: bold;
}

.website div.container.inactive {
    transition: all 0.3s ease-in-out;
    display: none;
}


.button {
    display: flex;
    justify-content: right;
}

.toggle {
    background-color: black;
    color: white;
    cursor: pointer;
}

button {
    cursor: pointer;
}

.btn {
    color: white;
    text-decoration: none;
}
